#schermata > * {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  color: purple;
}

#stato-partita {
  top: 2.5%;
  right: 2%;
  border: 1px solid black;
  width: 25%;
  height: 25%;
}

#stato-giocatore {
  bottom: 2.5%;
  right: 2%;
  border: 1px solid black;
  width: 20%;
  height: 20%;
}

#azioni {
  top: 25%;
  left: 2%;
  border: 1px solid black;
  width: 20%;
  height: 25%;
}

#inventario {
  bottom: 2.5%;
  left: 2%;
  border: 1px solid black;
  width: 35%;
  height: 20%;
}

#start-next-turn {
  top: 2.5%;
  left: 2%;
  /* border: 1px solid black; */
}
